h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

a:hover {
    text-decoration: none;

    color: rgb(236, 236, 236)
}

header {
    background-color: black;
    line-height: 50px;
    text-align: left;
    text-decoration-style: none;
    text-decoration-color: #F0FFFF;
}

body {
    border: 0px;
}

body {
    font-size: medium;
    background-color: #F0FFFF;

}

.button {
    text-align: center;
    white-space: normal;
}

.to-right {
    float: right !important;
}

.to-left {
    float: left !important;
}

.padding-large {
    padding: 12px 24px !important;
}

.nav-item {
    padding: 8px 16px;
    width: auto;
    border: none;
}

.container {
    padding: 0.01em 16px;
    justify-content: center;
    align-items: center;
}

.padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important
}

.wide {
    letter-spacing: 4px;
}

#projetos{

}



p {
    text-align: center;
}

.cardBox {
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    height: 200px;
    max-width: 300px;
    max-height: 200px;
    text-align: center;
    flex-shrink: 1;
}

.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.bnt-card{
    background-color: black;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}