h2{
    text-align: left;
}

body {
    font-size: medium;
    background-color: #45c5ba;
    border: 50px;
}



.subtitulo {
    text-align: center;
}

.imagem {
    image-rendering: auto;
    text-align: left;

}

#GRUPO-1 {
    color: aliceblue;
    text-align: start;
    width: 100%;

}